/data-engine/.vs/ProjectEvaluation/*.2
/data-engine/.vs/data-engine/DesignTimeBuild/*.v2
/data-engine/.vs/data-engine/FileContentIndex/*.vsidx
/data-engine/.vs/data-engine/FileContentIndex/*.lock
/data-engine/.vs/data-engine/config/*.config
/data-engine/.vs/data-engine/v17/*.v2
/data-engine/.vs/data-engine/v17/*.suo
/data-engine/Core/DataEngine.Abstraction/bin
/data-engine/Core/DataEngine.Abstraction/obj
/data-engine/Core/DataEngine.Core/obj
/data-engine/Core/DataEngine.Core/bin
/data-engine/Core/DataEngine.Core.UnitTest/obj
/data-engine/Core/DataEngine.Core.UnitTest/bin
/data-engine/Core/DataEngine.Domain/obj
/data-engine/Core/DataEngine.Domain/bin
/data-engine/DataAccess/DataEngine.DataAccess.CSV/obj
/data-engine/DataAccess/DataEngine.DataAccess.CSV/bin
/data-engine/DataAccess/DataEngine.DataAccess.UnitTest/obj
/data-engine/DataAccess/DataEngine.DataAccess.UnitTest/bin
/data-engine/DataEngine.Api/bin
/data-engine/DataEngine.Api/obj
/data-engine/DataEngine.Infrastructure/obj
/data-engine/DataEngine.Infrastructure/bin
